@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@400;700&display=swap');

.qr-card {
    width: 320px;
    height: 500px;
    background-color: hsl(0, 0%, 100%);
    border: 0px;
    border-radius: 25px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    font-family: 'Outfit', sans-serif;
    text-align: center;

    .qr-code-headline {
        font-size: 21px;
        font-weight: 700;
        padding: 26px 0px 20px;
        color: hsl(218, 44%, 22%);
    }

    .qr-code-subject {
        font-size: 15px;
        font-weight: 400;
        color: hsl(216, 15%, 48%);
    }
}

.qr-code-img {
    margin-top: 15px;
    max-width: 90%;
    max-height: 90%;
    border: 0cap;
    border-radius: 10px;
}